@charset "UTF-8";

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	border: 2px solid rgba(0, 0, 0, .4);
}

.column-left {
 	width: 30%;
  	height: 100%;
  	background-color: beige;
  	transition: 1s ease;
  	position: relative;
}

.hide-column {
	display:none;	
}

.column-right {
	width: 70%;
  	height: 100%;
  	background-color: #ccc;
  	transition: 1s ease;
}

.collapse-menu {
	float: right;
	padding-right: 1.5em;
	font-size: 25px;
	color: #545252;
	/* transform: translateX(-50%); */
}

.collapse-menu:hover {
	color: black;
	cursor: pointer;
}

.collapse-sidebar {
	width: 10%;
	background-color: white;
}